// HTML & Body Styles
html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

// General App Styles
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Here only to demonstrate router-link-exact-active (active link highlighting)
// Move to correct location once beginning development.
.router-link-exact-active {
  color: $orange-fg;
}
